    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>Send me an email if you would like to get in touch, hire me for your next project, have questions or feedback on my apps, or just want to say hello.</p>
                <p><a href="mailto:&#107;&#105;&#114;&#098;&#121;&#064;&#116;&#104;&#101;&#099;&#097;&#118;&#101;&#046;&#099;&#111;&#109;">&#107;&#105;&#114;&#098;&#121;&#064;&#116;&#104;&#101;&#099;&#097;&#118;&#101;&#046;&#099;&#111;&#109;</a>
                </p>
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                    <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }} fa-fw"></i></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
