
/* IE7 hacks */

*:first-child+html .gridItem img {
	position:relative;
	top:0px;
}

*:first-child+html .gridItem h3 {
	position:relative;
	top:0px;
}

/* Navigation arrows */
div.text-navigation { text-align:center; margin-bottom:1em;}
div.text-navigation div { display:inline; margin:0px 0.5em; }
 
/* Firefox reduce dotted lines on links */
.photo-navigation a:focus, .replaced a:focus {overflow:hidden;}

/* JS-Kit hacks to work around their destructive/blind CSS usage. */
.js-kit-comments { float:left; }
* html .js-kit-comments { width:90%; } 
.js-kit-comments img { margin:0px!important; padding:0px!important; border:0px transparent none!important; }

/* Disqus correction to prevent overflow scroll bars in some designs */
#dsq-content { overflow:hidden; }
#dsq-content .dsq-auth-header { width: auto!important; }
#dsq-content .dsq-by { margin: 4px 6px 0px 0px; }
#dsq-content .dsq-by a, #dsq-content .dsq-by a:hover { border: 0px none; }
#dsq-content h3 { margin:0px; }
